div#currentCategory {
  left: 0;
  right: 0;
  background-color: rgb(243, 243, 243);
}

div#articleBox {
  padding-top: 5px;
  background-color: rgb(243, 243, 243);
  position: absolute;
}

.articleContainer {
  height: 100%;
  width: 33%;
  display: inline-block;
  position: absolute;
  overflow: scroll;
}
