div#currentCategory {
  left: 0;
  right: 0;
  background-color: rgb(243, 243, 243);
}

div#currentCategory h1{
  top: 10px;
  left: 100px;
  font-size: 20px;
  height: 100%;
  position: absolute;
}

div#articleBox {
  padding-top: 20px;
  overflow-y: scroll;
  background-color: rgb(243, 243, 243);
  position: absolute;
}

.articleContainer {
  height: 100%;
  width: 33%;
  display: inline-block;
  position: absolute;
  overflow: scroll;
}
