div#left {
  top: 50px;
  bottom: 0;
  width: 270px;
  background-color: black;
  position: absolute;
}

div#categoryBox {
  top: 30%;
  position: absolute;
  background-color: white;
}

li.category {
  margin: 15px;
}
