div#left {
  top: 50px;
  bottom: 0;
  width: 270px;
  background-color: #E3E3E3;
  position: absolute;
}

div#categoryBox {
  top: 30%;
  position: absolute;
}

li.category {
  margin-left: 30px;
  margin-top: 30px;
}
