.mainReader{
  position: absolute;
  left: 33%;
  width: 67%;
  height: 100%;
  background-color: grey;
  display: inline-block;
}

.readerContainer {
  width: 100%;
  height: 100%;
  background-color: blue;
}

#articleIFrame {
  background-color: white;
  width: 100%;
  height: 100%;
}
