div#currentCategory {
  top:50px;
  left: 0;
  right: 0;
/*  bottom: 50px;*/
  background-color: RoyalBlue;
  position: absolute;
}

div#currentCategory h1{
  left: 20px;
  font-size: 24px;
  position: absolute;
}

div#articleBox {
  top: 40px;
  overflow: auto;
  position: relative;
}
