body {
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: #878785;
}

div#header {
  height:50px;
  background-color: #FFCC66;
  position: static;
}

div#header span#logo{
  color: #F5F5F5;
  left: 100px;
  top: 20px;
  font-size: 20px;

  position: absolute;
}
