body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #878785;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.webBanner{
  font-size: 20;
}