body {
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: #878785;
}

div#header {
  height:50px;
  background-color: orange;
  position: static;
}

div#header span#logo{
  color: #F5F5F5;
  left: 100px;
  top: 20px;
  font-size: 20px;

  position: absolute;
}

div#left {
  top: 50px;
  bottom: 0;
  width: 270px;
  background-color: black;
  position: absolute;
}

div#right {
  top:50px;
  right: 0;
  bottom: 0;
  left: 270px;
  position: absolute;
  background-color: red;
  overflow: auto;
}
