<div class="webBanner">
  <h1>S O U R C E L Y</h1>
  <div ui-view="dropDown"></div>
</div>
<div class="content">
  <div class="collapsable" ng-class="{isCollapsed: open}">
    <div class="menuDiv">
      <div class="vertSourcely">
        <h1 class="motoShown" ng-class="{isCollapsed: open}">SOURCELY</h1>
      </div>
    </div>
    <div ui-view="events" class="articleContainer" scroll-track="scrollTrack()"></div>
  </div>
  <div ui-view="mainReader" class="mainReader" ng-class="{isOpen: !open}"></div>
</div>
