.accountCorner {
  float:right;
  position: relative;
}

.accountDetails {
  position: relative;
  font-size: 18;
  position: relative;
  top: 14px;
  right: 20px;
  color: rgb(243, 243, 243);
}

.loginAnchor{
  font-size: 14;
  position: relative;
  top: 22px;
  right: 16px;
  color: rgb(243, 243, 243);
}

.loginAnchor:hover{
  text-decoration: none;
  color: rgb(100, 180, 255) !important;
  cursor: pointer;
}

.accountName {
  padding: 0;
  border: none;
  background: none;
  text-decoration: none;
}

.accountName:hover {
  color: rgb(100, 180, 255) !important;
}

.accountName:focus {
  outline: none;
}

.dropdown-menu {
  left: -35px;
}

.btn-primary {
  background-color: transparent;
  border: transparent;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
  color: rgb(100, 180, 255) !important;
  background-color: transparent !important;
  border-style: none;
  box-shadow: none;
}

.dropdown-menu, .signOut, .signOut a {
  min-width: 80px;
  width: 100px !important;
}

.login {
  text-align: center;
}

.login h2{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.loginForm input {
  margin-left: 20px;
}

.signupForm input {
  margin-left: 20px;
}

.userField {
  margin-bottom: 10px;
}

.passwordField {
  margin-bottom: 10px;
}

.loginSubmit {
  margin-bottom: 40px;
}

.signupButton {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
