<div class="event">
  <accordion class="changeBack" close-others="true">
    <accordion-group class="accordionHead" ng-class="{true:'active', false:''}[isOpen]" heading="{{article[0].title}}">
      <ul class="sourceList">
        <li class="sources" ng-repeat="source in article">                    
          <span class="source" ng-click="openLink(source.link, source.collectionID)" onclick="this.className='source readSource'">
            <img title="{{source.source}}" class="sourceFavicon" src="https://www.google.com/s2/favicons?domain={{source.source}}.com&alt=feed">
            <p>{{source.title}}</p>
          </span>
        </li>
      </ul>
    </accordion-group>
  </accordion>
</div>
