<div class='accountCorner'>
  <div class='loginButton' ng-hide='loggedIn'>
    <a ng-click="openModal('login')" class="loginAnchor">Login / Signup</a>
  </div>
  <div class='accountDetails btn-group' ng-hide='!loggedIn' dropdown is-open="dropDown.isopen">
    <button type="accountName" class="btn btn-primary dropdown-toggle">
      {{accountName}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li class='signOut'><a href="#" ng-click="signOut()">Sign Out</a></li>
    </ul>
  </div>
</div>
