<div class="event">

  <accordion class="changeBack" close-others="true">
    <accordion-group class="disable_border disable_text_highlighting" ng-class="{true:'active', false:''}[isOpen]" heading="{{article[0].title}}">
      <ul class="sourceList">
        <li class="sources" ng-repeat="source in article">

          <div ng-controller="ModalDemoCtrl">
<!--             // <script type="text/ng-template" id="modal.html">
            //     <div class="modal-body">
            //       <div class="modalContainer">
            //         <iframe src={{source.link}}></iframe>
            //       </div>
            //     </div>
            // </script> -->
<!--             <span class="source" ng-click="open('lg', source.link)"><p>{{source.title}}<p></span> -->
            <span class="source" ng-click="openLink(source.link)"><p>{{source.title}}<p></span>
          </div>

        </li>
      </ul>
    </accordion-group>
  </accordion>

</div>
