  <div ng-controller="mainController">  
    <div class="content">
      <div class="collapsable" ng-class="{isCollapsed: open}">
        <div class="menuDiv">
          <div class="hamburgerContainer"><a class="navtoggle" href="#" ng-click="collapseLeft()" ng-class"{active: open}"><span></span></a></div>
          <div class="vertSourcely"><h1 class="logoShown" ng-class="{isShown: open}">SOURCELY</h1></div>
        </div>
        <div class="articleContainer" lazy-load="lazyLoader()">
            <div class="currentCategory">
              <div  class="newsHeader"><h1>Tech News</h1></div>
              <div class="articleBox">
                <div class ="events" ng-repeat="article in category.articles">
                  <event-include article='article[0]'></event-include>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div ui-view class="mainReader">
      </div>
    </div>
  </div>    